@model CatalogPagingFilteringModel
    <div class="product-selectors row mb-2">
        @*sorting*@
        @if (Model.AllowProductSorting)
        {
        <div class="product-sorting col-12 col-md-4 mb-3">
                <div class="row">
                <div class="col-4 pt-1">
                        <span>@T("Catalog.OrderBy")</span>
                    </div>
                   <div class="col-8">
                        @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { @class = "form-control form-select form-select-sm rounded-0 border-dark", onchange = "setLocation(this.value);", aria_label = T("Catalog.OrderBy.Label") })
                    </div>
                </div>
            </div>
        }
        @*page size*@
        @if (Model.AllowCustomersToSelectPageSize)
        {
        <div class="product-page-size col-12 col-md-5 mb-3">
                <div class="row">
                <div class="col-4 pt-1 text-md-end">
                        <span>@T("Catalog.PageSize")</span>
                    </div>
                    <div class="col-4">
                        @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { @class = "form-control form-select form-select-sm border-dark rounded-0", onchange = "setLocation(this.value);", aria_label = T("Catalog.PageSize.Label") })
                    </div>
                <div class="col-4 pt-1">
                        <span>@T("Catalog.PageSize.PerPage")</span>
                    </div>
                </div>
            </div>
        }
        @*view mode*@
        @if (Model.AllowProductViewModeChanging)
        {
        <div class="product-viewmode col-12 col-md-3 text-md-end mb-3">
                <span>@T("Catalog.ViewMode")</span>
                @if (Model.AvailableViewModes.Count > 1)
                {
                    var gridMode = Model.AvailableViewModes[0];
                    var listMode = Model.AvailableViewModes[1];

                    <a class="fs-5 mx-3 viewmode-icon grid @if(gridMode.Selected){<text>selected</text>}" href="@gridMode.Value" title="@gridMode.Text"><i class="fa fa-th" aria-hidden="true"></i></a>
                    <a class="fs-5 viewmode-icon list @if (listMode.Selected){<text>selected</text>}" href="@listMode.Value" title="@listMode.Text"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                }
            </div>
        }
    </div>